/*
  Archivo: frontend/styles/3-generic/_reset.css
  Propósito: Resetea los estilos por defecto del navegador para eliminar inconsistencias 
             y establecer una base limpia sobre la cual construir.
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}